$yellow: #fcdb00;

body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
  color: #010101;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
}

.title {
  text-align: center;
  padding: 120px 0 90px 0;

  &__main {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 32px;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
  }
}

.header {
  padding: 58px 0 110px;
  background: $yellow;
  color: #000;

  .menu {
    margin-top: 10px;

    &__item {
      margin: 0 57px;
    }

    &__item a {
      font-size: 22px;
      font-weight: 700;
      color: #000;
    }

    &__item a:hover {
      transition: all 0.3s ease;
      color: lighten(#010101, 30%)
    }

  }

  .offer {
    margin-top: 135px;

    &__title {
      font-size: 32px;
      margin-bottom: 15px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 1.3em;
      color: #313841;
    }

    &__text {
      font-size: 16px;
      margin: 20px 0 40px;
      color: #555;
      max-width: 400px;
    }

    .icons {
      margin: 0 -18px;

      &__item {
        padding: 0 18px;

        a {

        }

        i {
          color: #010101;
          font-size: 39px;
        }

        i:hover {
          transition: all 0.3s ease;
          color: lighten(#010101, 30%)
        }
      }
    }
  }

  .ipad {
    display: block;
    margin: 70px auto;
    max-width: 100%;
  }
}

.features {

  .feature {
    padding: 0 20px;

    &__icon {
      font-size: 33px;
    }

    &__body {
      margin: 0 0 80px 35px;
    }

    &__title {
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 15px 0;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.touch {
  background: #010101;

  .title {
    padding-bottom: 40px;

    &__main {
      color: $yellow;
    }

    &__text {
      color: #898989;
    }
  }

  .form {
    text-align: center;


    &__input {
      padding: 14px 0 14px 20px;
      border-radius: 5px;
      width: 580px;
      margin-right: 20px;

      &::placeholder {
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        color: #898989;
        line-height: 20px;
        font-weight: 400;

      }
    }

    &__btn {
      font-family: 'PT Sans', sans-serif;
      background: $yellow;
      border-radius: 5px;
      font-weight: 700;
      width: 125px;
      border: 0;
      padding: 14px 0;
      cursor: pointer;
      text-transform: uppercase;
      outline: none;
    }
  }
}

.footer {
  background: #010101;
  padding: 50px 0 94px;

  .credits {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
  }
}

/*------MEDIA-----*/

@media screen and (max-width: 992px) {

  .header {
    .menu {
      &__item {
        margin: 0 20px;
      }
    }

    .logo {
      display: block;
      margin: 0 auto 20px;
    }

    .offer {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .touch {
    .form {
      &__input {
        width: 100%;
        margin-right: 0;
      }

      &__btn {
        width: 50%;
        margin-top: 20px;
      }
    }
  }


}


